@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,400..900&family=Poppins:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFEF7;
  min-height: 100vh;
  overflow-x: hidden;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  background: #E7EBE8;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0);
  font-family: 'Poppins', sans-serif;
}

.logo{
  color: #333;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.group{
  display: flex;
  align-items: center;
}

header ul{
  position: relative;
  display: flex;
  gap: 165px;
}

header ul li{
  list-style: none;
}

header ul li a{
  position: relative;
  text-decoration: none;
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

header ul li a::before{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #A88F18;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

header ul li a:hover::before{
  transform: scaleX(1);
  transform-origin: left;

}

header .search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  z-index: 10;
  cursor: pointer;

}

.searchBox{
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
}

.searchBox.active{
  right: 0;
}

.searchBox input{
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  color: #333;
  font-size: 1.25em;
  background: #fff;
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
}

.searchBtn{
  position: relative;
  left: 30px;
  top: 2.5px;
  transition: 0.5s ease-in-out;
}

.searchBtn.active{
  left: 0;
}

.closeBtn{
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  scale: 0;
}

.closeBtn.active{
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  scale: 1;
}

/* FIM DA NAVBAR */

.banner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(img/Nome\ \(3\).png);
}

.banner .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 50vh;
  color: rgba(255, 255, 255, 0.689);
  padding-top: 60px;
}

.title {
  display: flex;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-size: 110px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.sessao {
  width: 50%;
  margin-right: 25%;
  margin-top: 25%;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #ffffff;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0;
}
