* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5ecee;
}

ul {
    list-style: none;
}

.i_nav {
    width: 50%;
}

input[type="checkbox"] {
    display: none;
}

nav {
    background-color: rgba(16, 16, 16, .5);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

input[type="checkbox"]:checked~nav {
    transform: translateX(350px);
}

ul {
    top: 70px;
    position: absolute;
    /* ocupa 100 do pai que é o elemento que esta relative */
    width: 100%;
}

a {
    display: block;
    /* ocupa 100 do pai que a nav */
    padding: 30px 5px;
    color: wheat;
}

a:hover {
    background-color: #D7CB75;
    color: rgb(0, 0, 0);
}

label {
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.banner_quiz {
    height: 100vh;
    background-color: #e5ecee;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_quiz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_quiz p {
    font-size: 36px;
    color: #2B566B;
    width: 280px;
}

.intro_quiz span {
    font-weight: 800;
    color: #2B566B;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 60%;
    background-image: url(../css/img/loving-vincent-818.gif);
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.5);
}


.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.perguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90vh;
    flex-direction: column;
    font-size: 150%;
}

.perguntas select {
    background-color: #f2f2f2;
    color: #2B566B;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 40vw;
    height: 8vh;
    text-align: center;
    cursor: pointer;
    margin-top: 1%;
}

.perguntas button {
    width: 10%;
    height: 10%;
    font-size: 70%;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #D7CB75;
}

.perguntas button:hover{
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.5);
}

.mensagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mensagem .result {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-color: #2B566B;
}

.result .quadros {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.img_resultado {
    width: auto;
    height: 50vh;
}

#fraseResultado {
    display: flex;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.result {
    width: 100%;
    height: 70vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.resultado {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    background-color: #2B566B;
    color: white;
}

.noiteEstrelada {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

.fraseResultado {
    width: 70%;
    text-align: center;
}

.fraseResultado span {
    font-weight: 800;
  color: #D7CB75;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

}

.footer {
    background-color: #2B566B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
}

.footer .caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* height: 10vh; */
}

.footer .caixa h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 5vh;
    margin-top: 3%;
}

.caixa .g {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 10vh;
    margin-top: 1%;
}

.g img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
}